h1 {
    text-align: center;
}

section {
    padding: 60px 0;
}

p {
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.card p {
    color: gray;
}

#hero {
    background-color: #f5f5f5;
}

#contact {
    background-color: #222;
    color: white;
}

nav a {
    text-decoration: none;
    margin: 10px;
}

#skills > ul {
    background-color: #eee;
}

h2 + p {
    font-style: italic;
}

a[href^="https"] {
    color: green;
}

nav a:hover {
    color: red;
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    color: blue;
}

li:nth-child(2) {
    color: purple;
}

h1::after {
    content: " 🚀";
}

p::first-line {
    font-weight: bold;
}